In [1]:
veggi = ["beet","carrot","radish","spinach","onion","tomato","onion"]
print(veggi)

['beet', 'carrot', 'radish', 'spinach', 'onion', 'tomato', 'onion']

In [2]:
veggi[2]

'radish'

In [3]:
print(veggi[1:])
print(veggi[:4])
print(veggi[2:4])

['carrot', 'radish', 'spinach', 'onion', 'tomato', 'onion']
['beet', 'carrot', 'radish', 'spinach']
['radish', 'spinach']

In [4]:
#modifying the veggi elements
veggi[3] = "cucumber"
print(veggi)

['beet', 'carrot', 'radish', 'cucumber', 'onion', 'tomato', 'onion']

In [5]:
veggi [1:] = "tulip"
print(veggi)

['beet', 't', 'u', 'l', 'i', 'p']

In [6]:
veggi = ["beet","carrot","radish","spinach","onion","tomato","onion"]
print(veggi)

['beet', 'carrot', 'radish', 'spinach', 'onion', 'tomato', 'onion']

## *list methods*

In [7]:
veggi.append(["okra","cabbage"])
print(veggi)

['beet', 'carrot', 'radish', 'spinach', 'onion', 'tomato', 'onion', ['okra', 'cabbage']]

In [8]:
veggi.insert(4,"okra")
print(veggi)

['beet', 'carrot', 'radish', 'spinach', 'okra', 'onion', 'tomato', 'onion', ['okra', 'cabbage']]

In [9]:
veggi.remove("okra")
print(veggi)

['beet', 'carrot', 'radish', 'spinach', 'onion', 'tomato', 'onion', ['okra', 'cabbage']]

In [10]:
veggi.remove("onion")
print(veggi)

['beet', 'carrot', 'radish', 'spinach', 'tomato', 'onion', ['okra', 'cabbage']]

In [11]:
print(veggi)

['beet', 'carrot', 'radish', 'spinach', 'tomato', 'onion', ['okra', 'cabbage']]

In [12]:
##remove and return the last
poped_veggi = veggi.pop()
print(poped_veggi)
print(veggi)

['okra', 'cabbage']
['beet', 'carrot', 'radish', 'spinach', 'tomato', 'onion']

In [13]:
index = veggi.index("onion")
print(index)

5

In [14]:
veggi.count("onion")

1

In [15]:
veggi.sort()

In [16]:
veggi

['beet', 'carrot', 'onion', 'radish', 'spinach', 'tomato']

### *slicing list*

In [24]:
num = [1,2,3,4,5,6,7,8,9,10]
print(num[:3])
print(num[1:3])
print(num[:-1])
print(num[::-1])
print(num[::2])
print(num[::3])

[1, 2, 3]
[2, 3]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]

In [25]:
# iterating over list
for veggi in veggi:
    print(type(veggi))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [26]:
for n in num:
    print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
for num in num:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [29]:
num = [1,2,3,4,5,6,7,8,9,10]

In [30]:
## iterating with index
for index,num in enumerate(num):
    print(index,num)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9
9 10

In [31]:
#list comperhension
lst = []
for x in range(10):
    lst.append(x**2)
    
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [32]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### list comprehension
basics syntax              [expression for item in iterable]

with conditional logic     [expression for item in iterable if condition]

nested list comprehension  [expression for item1 in iterable1 for iten inem2 in iterable2]

In [33]:
#### basic list comphrension

square = [x**2 for x in range(10)]
print (square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [34]:
#### list comprehension with condition
lst = []
for i in range(10):
    if i%2 == 0:
        lst.append(i)
        print(lst)
        
print(f'this is ur exact answer{lst}')

[0]
[0, 2]
[0, 2, 4]
[0, 2, 4, 6]
[0, 2, 4, 6, 8]
this is ur exact answer[0, 2, 4, 6, 8]

In [35]:
even_num = [num for num in range(10) if num%2 == 0]
print(even_num)

[0, 2, 4, 6, 8]

In [36]:
#### nested list comprehension

list1 = [1,2,3,4]
list2 = ['a','b','c','d']

pair = [[i,j] for i in list1 for j in list2]

print(pair)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd']]

In [39]:
words = ["beet","carrot","radish","spinach","onion","tomato","onion"]

In [45]:
words = ["beet","carrot","radish","spinach","onion","tomato","onion", [2 ,4]]
length = len(words)
print(length)

z = [len(words) for words in words]
print(z)

8
[4, 6, 6, 7, 5, 6, 5, 2]

##### tuple in python

In [46]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [47]:
dict = {}
print(type(dict))
tup = ()
print(type(tup))
lst = []
print(type(lst))
str_1 = ''
print(type(str_1))
set_1 = set()
print(type(set_1))

<class 'dict'>
<class 'tuple'>
<class 'list'>
<class 'str'>
<class 'set'>

In [49]:
# concatination_tuple = num +

In [51]:
x = int(input('enter the number'))
table = [(i*x) for i in range(11)]
print(table)

[0, 8, 16, 24, 32, 40, 48, 56, 64, 72, 80]

In [1]:
def multiply(n):
    for n in range (1,n+1):
        for i in range(1, 11):
            print(f"{n} X {i} = {n*i}")

In [3]:
multiply(2)

1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [8]:
8%3

2

In [ ]:
list = []
for i in range(1,100):
    if ((i%2 != 0) and (((i+2)/2)%2 != 0 )):
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [6]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

primes = [n for n in range(1, 101) if is_prime(n)]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [10]:
int(8**0.5)

2

In [15]:
for num in range(1, 101):
    if num>2:
        for i in range(2, int(num**0.5) + 1):
            if (num % i) == 0:
                break
        else:
            print(num)

3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [1]:
import numpy as np

In [17]:
zz = np.array([1, 3 ,4.5, 6,9])

In [18]:
zz

array([1. , 3. , 4.5, 6. , 9. ])

In [12]:
desti_go = ["addis","bahirdar","gondar","mekele"]
desti_go.append('rameshwar')
desti_go.insert(2,'bellary')
desti_go.remove('gondar')
desti_go

['addis', 'bahirdar', 'bellary', 'mekele', 'rameshwar']

In [16]:
if 'bahirdar' in desti_go:
    print(f'first visit the place',{'bahirdar'})
    
    
print('for the remaining place')
for task in desti_go:
    print(f'{task}','to do')

first visit the place {'bahirdar'}
for the remaining place
addis to do
bahirdar to do
bellary to do
mekele to do
rameshwar to do

In [20]:
percentage = [66,79,85,80,89,78,69]
percentage.append(85)

avg_percent = sum(percentage) / len(percentage)
print(f'avg percentage is: {avg_percent}')

highest = max(percentage)
lowest = min(percentage)
print(f"highest score : {highest}")
print(f"lowest score : {lowest}")

avg percentage is: 78.875
highest score : 89
lowest score : 66

## function

In [1]:
def add(a,b):
    return (a+b)

add(2,3)

5

In [ ]:
def wish(name):
    print(f"hello {name} are you doing well?")
    
wish("siva")
wish("siva kumar") 
wish("siva kumar reddy")

hello siva are you doing well?
hello siva kumar are you doing well?
hello siva kumar reddy are you doing well?

In [2]:
def general(*name):
    for any in name:
        print(any)

In [3]:
def print_details(**rakshu):
    for key,value in rakshu.items():
        print(f'{key} : {value}')
print_details(name = "siva", age = 25, city = "hyderabad")

name : siva
age : 25
city : hyderabad

In [4]:
general("siva kumar reddy",1,2,3,4,5,6,7,8)

siva kumar reddy
1
2
3
4
5
6
7
8

In [22]:
# Creating a set
my_set = {1, 2, 3, 'a', 'b', 'c','c'}

# Adding an element
my_set.add('d')

# Removing an element
my_set.remove('a')

# Iterating over a set
for item in my_set:
    print(item)

1
2
3
b
c
d

In [33]:
emptydict = {}
print(type(emptydict))

<class 'dict'>

In [31]:
emptyset = set()
print(type(emptyset))

<class 'set'>

In [35]:
emptytuple = ()
print(type(emptytuple))

<class 'tuple'>

In [24]:
# Creating a tuple
my_tuple = (1, 2, 3, 'a', 'b', 'c','c')

# Accessing elements
print(my_tuple[0]) # Output: 1

# Iterating over a tuple
for item in my_tuple:
    print(item)
    
my_tuple

1
1
2
3
a
b
c
c

(1, 2, 3, 'a', 'b', 'c', 'c')

In [ ]:
def shreya(name,age,color):
    print(f"hello {name} are you doing well? ur age is {age} and ur fav color is {color}")
    
shreya('child', 20 ,'black')

hello child are you doing well? ur age is 20 and ur fav color is black

In [6]:
def standard(**details):
    for key, value in details.items():
        print(f"{key} : {value}")

In [7]:
standard(name = "siva", age = 25, city = "hyderabad", color = "black")
standard(name = "siva", age = 25, city = "hyderabad", color = "black", height = 5.8)

name : siva
age : 25
city : hyderabad
color : black
name : siva
age : 25
city : hyderabad
color : black
height : 5.8

In [ ]:
def cars(color, model, year):
    print(f"Car color: {color}, Car year: {year}, Car model: {model}")
    
cars("red", "Toyota", 2020)
cars("blue", "Honda", 2019)

Car color: red, Car year: 2020, Car model: Toyota
Car color: blue, Car year: 2019, Car model: Honda