In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.preprocessing import PolynomialFeatures

In [2]:
df = pd.read_csv(r'C:\Users\KSSEEB\OneDrive\Documents\Machine Learning\salary_data\olympics-economics.csv')

In [6]:
df.head()

,country,country_code,gold,silver,bronze,total,gdp,gdp_year,population
0,United States,USA,40,44,42,126,81695.19,2023,334.9
1,China,CHN,40,27,24,91,12614.06,2023,1410.7
2,Japan,JPN,20,12,13,45,33834.39,2023,124.5
3,Australia,AUS,18,19,16,53,64711.77,2023,26.6
4,France,FRA,16,26,22,64,44460.82,2023,68.2

In [7]:
df.shape

(90, 9)

In [16]:
df['country_code'].unique()

array(['USA', 'CHN', 'JPN', 'AUS', 'FRA', 'NLD', 'GBR', 'KOR', 'ITA',
       'DEU', 'NZL', 'CAN', 'UZB', 'HUN', 'ESP', 'SWE', 'KEN', 'NOR',
       'IRL', 'BRA', 'IRN', 'UKR', 'ROU', 'GEO', 'BEL', 'BGR', 'SRB',
       'CZE', 'DNK', 'AZE', 'HRV', 'CUB', 'BHR', 'SVN', 'TPE', 'AUT',
       'HKG', 'PHL', 'DZA', 'IDN', 'ISR', 'POL', 'KAZ', 'JAM', 'ZAF',
       'THA', 'ETH', 'CHE', 'ECU', 'PRT', 'GRC', 'ARG', 'EGY', 'TUN',
       'BWA', 'CHL', 'LCA', 'UGA', 'DOM', 'GTM', 'MAR', 'DMA', 'PAK',
       'TUR', 'MEX', 'ARM', 'COL', 'PRK', 'KGZ', 'LTU', 'IND', 'MDA',
       'XKX', 'CYP', 'FJI', 'JOR', 'MNG', 'PAN', 'TJK', 'ALB', 'GRD',
       'MYS', 'PRI', 'CPV', 'CIV', 'PER', 'QAT', 'SGP', 'SVK', 'ZMB'],
      dtype=object)

In [22]:
df['gold'].max()

np.int64(40)