In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.preprocessing import PolynomialFeatures

In [2]:
df = pd.read_csv(r'C:\Users\KSSEEB\OneDrive\Documents\Machine Learning\salary_data\olympics-economics.csv')

In [3]:
df.head()

,country,country_code,gold,silver,bronze,total,gdp,gdp_year,population
0,United States,USA,40,44,42,126,81695.19,2023,334.9
1,China,CHN,40,27,24,91,12614.06,2023,1410.7
2,Japan,JPN,20,12,13,45,33834.39,2023,124.5
3,Australia,AUS,18,19,16,53,64711.77,2023,26.6
4,France,FRA,16,26,22,64,44460.82,2023,68.2

In [4]:
df.shape

(90, 9)

In [5]:
df['country_code'].unique()

array(['USA', 'CHN', 'JPN', 'AUS', 'FRA', 'NLD', 'GBR', 'KOR', 'ITA',
       'DEU', 'NZL', 'CAN', 'UZB', 'HUN', 'ESP', 'SWE', 'KEN', 'NOR',
       'IRL', 'BRA', 'IRN', 'UKR', 'ROU', 'GEO', 'BEL', 'BGR', 'SRB',
       'CZE', 'DNK', 'AZE', 'HRV', 'CUB', 'BHR', 'SVN', 'TPE', 'AUT',
       'HKG', 'PHL', 'DZA', 'IDN', 'ISR', 'POL', 'KAZ', 'JAM', 'ZAF',
       'THA', 'ETH', 'CHE', 'ECU', 'PRT', 'GRC', 'ARG', 'EGY', 'TUN',
       'BWA', 'CHL', 'LCA', 'UGA', 'DOM', 'GTM', 'MAR', 'DMA', 'PAK',
       'TUR', 'MEX', 'ARM', 'COL', 'PRK', 'KGZ', 'LTU', 'IND', 'MDA',
       'XKX', 'CYP', 'FJI', 'JOR', 'MNG', 'PAN', 'TJK', 'ALB', 'GRD',
       'MYS', 'PRI', 'CPV', 'CIV', 'PER', 'QAT', 'SGP', 'SVK', 'ZMB'],
      dtype=object)

In [8]:
df.columns

Index(['country', 'country_code', 'gold', 'silver', 'bronze', 'total', 'gdp',
       'gdp_year', 'population'],
      dtype='object')

In [15]:
df.groupby('country_code')['gold'].mean()

country_code
ALB     0.0
ARG     1.0
ARM     0.0
AUS    18.0
AUT     2.0
       ...
USA    40.0
UZB     8.0
XKX     0.0
ZAF     1.0
ZMB     0.0
Name: gold, Length: 90, dtype: float64

In [16]:
df.isnull().sum()

country         0
country_code    0
gold            0
silver          0
bronze          0
total           0
gdp             0
gdp_year        0
population      0
dtype: int64

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   country       90 non-null     object
 1   country_code  90 non-null     object
 2   gold          90 non-null     int64
 3   silver        90 non-null     int64
 4   bronze        90 non-null     int64
 5   total         90 non-null     int64
 6   gdp           90 non-null     float64
 7   gdp_year      90 non-null     int64
 8   population    90 non-null     float64
dtypes: float64(2), int64(5), object(2)
memory usage: 6.5+ KB

In [24]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
gold,90.0,3.644444,7.018933,0.00,0.000,1.000,3.0000,40.00
silver,90.0,3.633333,6.797967,0.00,0.000,1.000,3.0000,44.00
bronze,90.0,4.255556,6.586607,0.00,1.000,2.000,5.0000,42.00
total,90.0,11.533333,19.782071,1.00,2.000,5.000,9.0000,126.00
gdp,90.0,24478.053556,25547.857382,1014.21,5815.180,13061.185,34484.6775,103684.88
gdp_year,90.0,2022.977778,0.148231,2022.00,2023.000,2023.000,2023.0000,2023.00
population,90.0,69.027778,213.286437,0.10,5.325,12.150,48.5500,1428.60

In [25]:
df.describe(include=object).T

             count unique            top freq
country         90     90  United States    1
country_code    90     90            USA    1